<!doctype html>
<html>
  <head>
    <title>Chat Room</title>
  </head>

  <body>
    <h1>Welcome {{ username }}!</h1>

    <h2>You joined room: {{ room }}</h2>

    <hr />

    <div id="messages"></div>

    <br />

    <input id="messageInput" type="text" placeholder="Type your message" />

    <button onclick="sendMessage()">Send</button>

    <script>
      const room = "{{ room }}";

      const socket = new WebSocket(`ws://127.0.0.1:8000/ws/${room}`);

      socket.onopen = function () {
        console.log("Connected to the server");
      };

      socket.onmessage = function (event) {
        const messages = document.getElementById("messages");

        messages.innerHTML += "<p>" + event.data + "</p>";
      };

      function sendMessage() {
        const input = document.getElementById("messageInput");

        socket.send(input.value);

        input.value = "";
      }
    </script>
  </body>
</html>
