<!doctype html>
<html>
  <head>
    <title>Welcome to Chat Room</title>
  </head>

  <body>
    <h1>Welcome to Sanjai Chat Room</h1>

    <form action="/chat" method="post">
      <label for="username">Username</label>
      <br />

      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your username"
        required
      />

      <br /><br />

      <label for="room">Room Name</label>
      <br />

      <input
        type="text"
        id="room"
        name="room"
        placeholder="Enter room name"
        required
      />

      <br /><br />

      <button type="submit">Join Room</button>
    </form>
  </body>
</html>
