<! doctype html>
<html>
  <head>
    <title>welcome to Chat Room</title>
  </head>
  <body>
    <h1>welcome to sanjai chat room</h1>
    <!-- set up the user interface connect to html to fastapi -->

    <from action = "/chat" method ="post">

        <label> UserName </label>

        <br>
        <input 
        type="text",
        name="User Name",
        placeholder="Enter user name"
        required>

        <br><br>

        <label> Roomname </label>

        <br>
        <input
        type="text:",
        name="Room name",
        placeholder="Enter room name"
        required>
        <br><br>

        <button
            type= " submit room information">
            join room 
        </button>

         </form>
  </body>
</html>
